/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides.css
 *= require_self
 *= require_tree .
 */

body {
    background: #ECECEC none;
    color: #727272;
    padding-top: 82px;
}
#content {
    padding-top: 0;
}
/* taken from Centrics website */
a {
    color: #3b72b2
}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a:active{text-decoration:none;}
@media (max-width: 1250px) {
    #content {
    padding-top: 50px;
    }
}
@media (max-width: 979px){
    body {
        padding-top: 0;
    }
    #content {
        padding-top: 0;
    }
}

@media (max-width: 768px){
    body {
        background: #ECECEC none;
        padding-top: 0;
    }
    #content {
        padding-top: 0;
    }
}

select {
    background-color: #ECECF8;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
    background-color: #ECECF8;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    font-size: 133%;
}

.nav>li {
    vertical-align: middle;
}