/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides.css
 *= require_self
 *= require_tree .
 */

body {
    background: darkred url('centricsit-background.png') no-repeat scroll center top;
    color: #EEEEEE;
    padding-top: 82px;
}

@media (max-width: 979px){
    body {
        padding-top: 0;
    }
}

@media (max-width: 768px){
    body {
        background: darkred;
        padding-top: 0;
    }
}

h1 {
    color: #EEEEEE
}

select {
    background-color: #EEEEEE;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
    background-color: #EEEEEE;
}

label {
    color: #EEEEEE;
}

a {
    color: #FFFC49;
}

a:hover {
    color: #AAFFFF;
}

.navbar-inverse .brand, .navbar-inverse .nav>li>a {
    font-size: 133%;
}

.nav>li {
    vertical-align: middle;
}